.column-layout {
    display: flex;
    flex-direction: column;
}
.card-calendar-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
}
.card {
    margin: 16px;
    padding: 0.0px;
    width: 320.0px;
    height: max-content;
    min-width: 320.0px;
    min-height: 50.0px;
    max-width: 320.0px;
    flex-shrink: 0;
}
.card-1 {
    margin: 16px;
    padding: 0.0px;
    width: max-content;
    height: max-content;
    min-width: 320.0px;
    min-height: 50.0px;
}
.card-2 {
    margin: 16px;
    padding: 0.0px;
    width: 371.0px;
    height: max-content;
    min-width: 320.0px;
    min-height: 50.0px;
    max-width: 371.0px;
    flex-shrink: 0;
    flex-direction: row;
}
.group_1 {
    flex-grow: 1;
}
.column-layout-1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    margin: 0.0px;
    padding: 0.0px;
}
.card-11 {
    margin: 16px;
    padding: 0.0px;
    width: max-content;
    height: max-content;
    min-width: 320.0px;
    min-height: 50.0px;
    flex-shrink: 0;
}
.card-3 {
    margin: 16px;
    padding: 0.0px;
    width: 342px;
    height: max-content;
    min-width: 320.0px;
    min-height: 50.0px;
    max-width: 342px;
    flex-shrink: 0;
    flex-direction: row;
}
.group_2 {
    width: 100%;
}
.group_3 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
}
.media-content {
    height: 200px;
}
.actions-content {
    min-width: 50px;
    min-height: 40px;
}
.icon-button-2 {
    margin: 0.0px;
    padding: 0.0px;
}
.media-content_1 {
    height: 300px;
    min-height: 300px;
    max-height: 300px;
}
.body-content {
    min-width: 50px;
    min-height: 50px;
}
.media-content_2 {
    width: 96px;
}
.divider {
    display: none;
}
.actions-content_1 {
    flex-direction: column;
    align-items: end;
    min-width: 50px;
    min-height: 40px;
}
.image {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.text-1 {
    margin: 0.0px;
    padding: 0.0px;
    height: max-content;
}
.avatar::part(base) {
    background-color: transparent;
}
.calendar {
    margin: 16px;
    width: max-content;
    height: max-content;
    flex-shrink: 0;
}
.button {
    margin: 0.0px;
    padding: 0.0px;
    width: max-content;
    height: max-content;
}
