@page "/card_calendar"

<div class="column-layout card-calendar-container">
    <div class="row-layout group">
        <IgbCard class="card" card_calendar-scope>
            <IgbCardHeader>
                <h3 slot="title">
                    Rozes
                </h3>
                <h5 slot="subtitle">
                    Under the grave (2016)
                </h5>
            </IgbCardHeader>
            <IgbCardMedia class="media-content" card_calendar-scope>
                <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" class="image" />
            </IgbCardMedia>
            <IgbCardActions class="actions-content" card_calendar-scope>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbButton Variant="ButtonVariant.Flat" slot="end" Size="SizableComponentSize.Large" class="button" card_calendar-scope>
                    Play
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard class="card-1" card_calendar-scope>
            <IgbCardMedia class="media-content_1" card_calendar-scope>
                <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Title goes here...
                </h3>
                <h5 slot="subtitle">
                    Subtitle goes here...
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card_calendar-scope>
                <IgbButton Variant="ButtonVariant.Flat" slot="start" Size="SizableComponentSize.Large" class="button" card_calendar-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard class="card-2" card_calendar-scope>
            <div class="group_1">
                <IgbCardHeader>
                    <h3 slot="title">
                        Title goes here...
                    </h3>
                    <h5 slot="subtitle">
                        Subtitle goes here...
                    </h5>
                </IgbCardHeader>
                <IgbCardContent class="body-content" card_calendar-scope>
                    <div class="column-layout column-layout-1">
                        <p class="typography__body-1 text-1"></p>
                    </div>
                </IgbCardContent>
            </div>
            <IgbCardMedia class="media-content_2" card_calendar-scope>
                <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" class="image" />
            </IgbCardMedia>
        </IgbCard>
        <IgbCard class="card-11" card_calendar-scope>
            <IgbCardHeader>
                <h3 slot="title">
                    Rozes
                </h3>
                <h5 slot="subtitle">
                    Under the grave (2016)
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card_calendar-scope>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbButton Variant="ButtonVariant.Flat" slot="end" Size="SizableComponentSize.Large" class="button" card_calendar-scope>
                    Play
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbButton Variant="ButtonVariant.Flat" slot="end" Size="SizableComponentSize.Large" class="button" card_calendar-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard class="card-3" card_calendar-scope>
            <div class="group_2">
                <div class="row-layout">
                    <IgbCardHeader>
                        <div slot="thumbnail"></div>
                        <h3 slot="title">
                            Rozes
                        </h3>
                        <h5 slot="subtitle">
                            Under the grave (2016)
                        </h5>
                    </IgbCardHeader>
                </div>
                <IgbCardContent class="body-content" card_calendar-scope>
                    <div class="column-layout column-layout-1">
                        <p class="typography__body-2 text-1">
                            As I have always said: I write what’s real and what’s true, even if it means throwing myself under the bus....
                        </p>
                    </div>
                </IgbCardContent>
            </div>
            <span class="divider">Divider not yet available in Blazor</span>
            <IgbCardActions class="igx-card-actions--justify actions-content_1" card_calendar-scope>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard class="card" card_calendar-scope>
            <IgbCardHeader>
                <div slot="thumbnail">
                    <IgbAvatar Shape="AvatarShape.Circle" class="avatar" card_calendar-scope>
                        <span class="material-icons">
                            people
                        </span>
                    </IgbAvatar>
                </div>
                <h3 slot="title">
                    Title goes here...
                </h3>
                <h5 slot="subtitle">
                    Subtitle goes here...
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card_calendar-scope>
                <IgbButton Variant="ButtonVariant.Flat" slot="start" Size="SizableComponentSize.Large" class="button" card_calendar-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        adb
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button-2" card_calendar-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
    </div>
    <div class="row-layout group_3">
        <IgbCalendar WeekStart="CalendarBaseWeekStart.Tuesday" HideHeader="true" HeaderOrientation="CalendarHeaderOrientation.Horizontal" class="calendar" card_calendar-scope></IgbCalendar>
        <IgbCalendar Value="@_value" HideHeader="false" Change="@(e => _value = (DateTime)e.Detail)" class="calendar" card_calendar-scope></IgbCalendar>
        <IgbCalendar ShowWeekNumbers="true" VisibleMonths="2" HideHeader="false" class="calendar" card_calendar-scope></IgbCalendar>
    </div>
</div>

@code {
    private DateTime _value = DateTime.Parse("2022-01-13T00:00");
}
