@page "/grid_with_templates"
@using NorthwindAPIv2
@using Models.NorthwindAPIv2
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject INorthwindAPIv2Service NorthwindAPIv2Service

<div class="row-layout grid-with-templates-container">
    <div class="column-layout group">
        <IgbGrid Data="@_northwindAPIv2EmployeeDto" PrimaryKey="EmployeeId" DisplayDensity="DisplayDensity.Cosy" RowSelection="GridSelectionMode.Multiple" RowEditable="true" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" class="ig-typography grid" grid_with_templates-scope>
            <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="Employee name" Width="212px" Pinned="true" Groupable="true" Sortable="true" Resizable="true" BodyTemplateScript="columnBodyTemplateScript" Selectable="false"></IgbColumn>
            <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="Job title" Groupable="true" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="State" Width="179px" Groupable="true" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.City" Header="City" Width="209px" Groupable="true" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="Phone" Groupable="true" Sortable="true" Resizable="true" BodyTemplateScript="columnBodyTemplateScript1" Selectable="false"></IgbColumn>
            <IgbColumn Field="HireDate" Header="Hire date" Width="189px" Groupable="true" Sortable="true" Resizable="true" Selectable="false"></IgbColumn>
            <IgbColumn Width="203px" Groupable="true" Sortable="true" Resizable="true" BodyTemplateScript="columnBodyTemplateScript2" Selectable="false"></IgbColumn>
        </IgbGrid>
    </div>
</div>

@code {
    private List<EmployeeDto> _northwindAPIv2EmployeeDto = new();
    private IJSObjectReference module;
    private DotNetObjectReference<Grid_with_templates> objRef;

    protected override async Task OnInitializedAsync()
    {
        _northwindAPIv2EmployeeDto = await NorthwindAPIv2Service.GetEmployeeDtoList();
        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Grid_with_templates.razor.js");
        objRef = DotNetObjectReference.Create(this);
        await JS.InvokeAsync<string>("setDotNetRef", objRef);

        await base.OnInitializedAsync();
    }

    [JSInvokable]
    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
