@page "/layouts"

<div class="row-layout layouts-container">
    <div class="row-layout group">
        <p class="typography__subtitle-2 text">
            Fixed width
        </p>
    </div>
    <div class="column-layout group_1">
        <div class="row-layout group_2">
            <div class="column-layout group_3">
                <div class="row-layout group_4">
                    <p class="typography__subtitle-2 text_1">
                        Row / Grow 1, Shrink 0
                    </p>
                </div>
                <div class="row-layout group_5">
                    <p class="typography__subtitle-2 text_1">
                        Row / Grow 0, Shrink 0
                    </p>
                </div>
                <div class="row-layout group_6">
                    <p class="typography__subtitle-2 text_1">
                        Row / Grow 1, Shrink 0
                    </p>
                </div>
            </div>
            <div class="row-layout group_6">
                <p class="typography__subtitle-2 text_1">
                    Grow 1, Shrink 0
                </p>
            </div>
        </div>
        <div class="row-layout group_7">
            <p class="typography__subtitle-2 text_1">
                Grow 1, Shrink 1
            </p>
        </div>
    </div>
    <div class="column-layout group_8">
        <p class="typography__subtitle-2 text_2">
            Grow 0, Shrink 0
        </p>
        <div class="row-layout group_9">
            <p class="typography__subtitle-2 text">
                Grow 0, Shrink 0
            </p>
        </div>
    </div>
</div>

@code {
}
