.row-layout {
    display: flex;
}
.pickers-combo-container {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: 100%;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 32px;
    padding: 16px;
    width: 500px;
    min-width: 50px;
    min-height: 50px;
    max-width: 500px;
}
.user-input {
    height: max-content;
    min-width: min-content;
}
.date-picker {
    width: 469px;
    height: max-content;
    min-width: 120px;
    max-width: 469px;
}
.icon {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.icon_1 {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: hsla(var(--ig-warn-500));
}
