@page "/position"

<div class="row-layout position-container">
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group_1">
        <h5 class="h5">
            Relative top 50px
        </h5>
    </div>
    <div class="row-layout group_2">
        <h5 class="h5_1">
            Relative bottom 50px
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group_3">
        <h5 class="h5">
            Relative right 50px
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group">
        <h5 class="h5">
            Relative
        </h5>
    </div>
    <div class="row-layout group_4">
        <h5 class="h5">
            Absolute
        </h5>
    </div>
    <div class="row-layout group_5">
        <h5 class="h5_2">
            Fixed
        </h5>
    </div>
</div>

@code {
}
