@page "/reveal_dashboard"

<div class="row-layout reveal-dashboard-container">
    <span id="revealDashBoard" class="reveal-dash-board">RevealDashBoard not yet available in Blazor</span>
</div>

@code {
}
