@page "/type_scale"

<div class="row-layout type-scale-container">
    <div class="column-layout group">
        <div class="row-layout group_1">
            <div class="column-layout group_2">
                <div class="column-layout group_3">
                    <h1 class="content">
                        Heading 1
                    </h1>
                    <h2 class="content">
                        Heading 2
                    </h2>
                    <h3 class="content">
                        Heading 3
                    </h3>
                    <h4 class="content">
                        Heading 4
                    </h4>
                    <h5 class="content">
                        Heading 5
                    </h5>
                    <h6 class="content">
                        Heading 6
                    </h6>
                    <p class="typography__subtitle-1 content">
                        Subtitle 1
                    </p>
                    <p class="typography__subtitle-2 content">
                        Subtitle 2
                    </p>
                </div>
                <div class="column-layout group">
                    <p class="typography__body-1 content">
                        Body 1
                    </p>
                    <p class="typography__body-2 content">
                        Body 2
                    </p>
                    <p class="typography__caption content">
                        Caption
                    </p>
                    <p class="typography__overline content">
                        Overline
                    </p>
                </div>
            </div>
            <div class="column-layout group_2">
                <div class="column-layout group_3">
                    <h1 class="content_1">
                        Heading 1
                    </h1>
                    <h2 class="content_1">
                        Heading 2
                    </h2>
                    <h3 class="content_1">
                        Heading 3
                    </h3>
                    <h4 class="content_1">
                        Heading 4
                    </h4>
                    <h5 class="content_1">
                        Heading 5
                    </h5>
                    <h6 class="content_1">
                        Heading 6
                    </h6>
                    <p class="typography__subtitle-1 content_1">
                        Subtitle 1
                    </p>
                    <p class="typography__subtitle-2 content_1">
                        Subtitle 2
                    </p>
                </div>
                <div class="column-layout group">
                    <p class="typography__body-1 text">
                        Body 1
                    </p>
                    <p class="typography__body-2 text">
                        Body 2
                    </p>
                    <p class="typography__caption text">
                        Caption
                    </p>
                    <p class="typography__overline text">
                        Overline
                    </p>
                </div>
            </div>
            <div class="column-layout group_2">
                <div class="column-layout group_3">
                    <h1 class="content_2">
                        Heading 1
                    </h1>
                    <h2 class="content_2">
                        Heading 2
                    </h2>
                    <h3 class="content_2">
                        Heading 3
                    </h3>
                    <h4 class="content_2">
                        Heading 4
                    </h4>
                    <h5 class="content_2">
                        Heading 5
                    </h5>
                    <h6 class="content_2">
                        Heading 6
                    </h6>
                    <p class="typography__subtitle-1 content_2">
                        Subtitle 1
                    </p>
                    <p class="typography__subtitle-2 content_2">
                        Subtitle 2
                    </p>
                </div>
                <div class="column-layout group">
                    <p class="typography__body-1 text_1">
                        Body 1
                    </p>
                    <p class="typography__body-2 text_1">
                        Body 2
                    </p>
                    <p class="typography__caption text_1">
                        Caption
                    </p>
                    <p class="typography__overline text_1">
                        Overline
                    </p>
                </div>
            </div>
        </div>
        <div class="row-layout group_1">
            <div class="column-layout group_4">
                <p class="typography__subtitle-2 text_2">
                    Primary
                </p>
                <div class="row-layout group_5">
                    <div class="row-layout group_6"></div>
                    <div class="row-layout group_7"></div>
                    <div class="row-layout group_8"></div>
                    <div class="row-layout group_9"></div>
                    <div class="row-layout group_10"></div>
                    <div class="row-layout group_11"></div>
                    <div class="row-layout group_12"></div>
                    <div class="row-layout group_13"></div>
                    <div class="row-layout group_14"></div>
                </div>
                <p class="typography__subtitle-2 text_2">
                    Secondary
                </p>
                <div class="row-layout group_5">
                    <div class="row-layout group_15"></div>
                    <div class="row-layout group_16"></div>
                    <div class="row-layout group_17"></div>
                    <div class="row-layout group_18"></div>
                    <div class="row-layout group_19"></div>
                    <div class="row-layout group_20"></div>
                    <div class="row-layout group_21"></div>
                    <div class="row-layout group_21"></div>
                    <div class="row-layout group_22"></div>
                </div>
            </div>
            <div class="column-layout group_4">
                <p class="typography__subtitle-2 text_2">
                    Grays
                </p>
                <div class="row-layout group_5">
                    <div class="row-layout group_23"></div>
                    <div class="row-layout group_24"></div>
                    <div class="row-layout group_25"></div>
                    <div class="row-layout group_26"></div>
                    <div class="row-layout group_27"></div>
                    <div class="row-layout group_28"></div>
                    <div class="row-layout group_29"></div>
                    <div class="row-layout group_30"></div>
                    <div class="row-layout group_31"></div>
                </div>
                <p class="typography__subtitle-2 text_2">
                    Special colors
                </p>
                <div class="row-layout group_5">
                    <div class="row-layout group_32"></div>
                    <div class="row-layout group_33"></div>
                    <div class="row-layout group_34"></div>
                    <div class="row-layout group_35"></div>
                    <div class="row-layout group_36"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
